@import url('fonts.css');

/*Menu*/

.menu-bar .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bar {
    color: #212121;
    padding: 20px 0;
}

.menu,
li {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
}

.menu__item {
    margin-left: 40px;
    display: block;
}

.menu__item a {
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    color: #212121;
    text-decoration: none;
}

/*Header*/

.header{
    font-family: 'Open Sans Semibold';
    color: white;
    text-align: center;
    padding: 180px 0;
    background-size: cover;
    background-position: 0 100%;
    background-image: url('../img/header.png');
}

.header__title {
    font-size: 60px;
}

.header__text {
    font-size: 22px;
    margin-bottom: 115px;
}

/*Button*/

.button {
   padding: 15px 25px;
   margin: 0 10px;
   color: white;
   transition: 300ms;
   width: 220px;
}

.button_empty {
    background-color: transparent;
    border: 2px solid white;
}

.button_full {
    background-color: #00897b;
    border: 2px solid #00897b;
}

.button_empty:hover {
        border: 2px dashed white;
        background-color: #00897b;
}

.button_full:hover {
    border: 2px dashed #00897b;
    background-color: transparent;
}

.button__services {
    background-color: transparent;
    border: 2px solid #212121;
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    color: #212121;
    padding: 18px 12px;
    width: 150px;
    transition: 300ms;
}

/*About us*/

.aboutus {
    color: #212121;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 125px;
}

.aboutus .row {
    display: flex;
    justify-content: space-between;
}

.aboutus .row:first-child {
    margin-bottom: 110px;
}

.aboutus .aboutus__title1 {
    font-size: 30px;
    margin-bottom: 40px;
    font-family: 'Open Sans Bold';
}

.aboutus .aboutus__text {
    font-size: 15px;
    font-family: 'Open Sans Regular';
}

.aboutus .aboutus__title2 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'Open Sans Semibold';
}

/*Our Services*/

.ourservices{
    background-color: #e4fdf9;
    padding-top: 170px;
    padding-bottom: 120px;
    text-align: center;
    color:#212121;
}

.ourservices .row {
    display: flex;
    justify-content: center;
}

.ourservices .row:first-child {
    margin: 0 auto;
}

.ourservices .row:nth-child(2) {
    margin-bottom: 20px;
}

.ourservices__title {
    font-family: 'Open Sans Bold';
    font-size: 30px;
    margin-bottom: 40px;
}

.ourservices__text2{
    font-family: 'Open Sans Regular';
    font-family: 15px;
    margin-bottom: 50px;
}

.ourservices__title2{
    font-family: 'Open Sans Semibold';
    font-family: 20px;
    margin-bottom: 30px;
}

.ourservices img{
    margin-top: 60px;
    margin-bottom: 40px;
}

.services{
    background-color: white;
    padding-bottom: 50px;
    height: 440px;
    margin: 0 10px;
    transition: 300ms;
}

.ourservices__text {
    margin-bottom: 120px;
}